/* ローカルでインストールしているフォントを使用したいときは以下の方法で実装可能 */
@font-face {
  font-family: "Doki";
  src: url(../font/DokiDokiFont2/DokiDokiFantasia.otf) format("opentype"); /* 相対パスにする */
}

/* font-family: "Doki", sans-serif; */
/* 全体適用 */

header {
  background-image: url(../picture/header/header_background.png);
  background-size: cover; /* 背景画像のすべてを表示 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* logo */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* logomove */
.logo img {
  animation: pulse 3s ease-in-out infinite;
}

/* change size */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* menu全体 */
nav {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu ul {
  font-family: "Doki", sans-serif;

  display: flex;
  align-items: center;

  gap: 7px;
  margin: 5px;
  padding: 0;

  list-style: none;
  flex-wrap: nowrap; /* 強制1列にする */
}

.menu ul li {
  font-size: 90%;
}

/* button */
/* menu自体の大きさを変更したい際はここをいじる */
.menu ul li a {
  display: inline-block;
  padding: 4px 10px;

  background: linear-gradient(45deg, #ffb6c1, #ffd1dc);
  color: rgb(252, 134, 175);

  text-decoration: none;
  border-radius: 999px; /* 完全に丸ボタン */

  font-size: 10px;
  font-weight: 100;
  letter-spacing: 1px; /* 文字間の余白 */

  transition: 0.3s;
}

/* button move */
.menu ul li a:hover {
  transform: translateY(0);
  box-shadow: none;
}

/* hero */
.hero {
  background-image: url(../picture/background/hero_backgtound.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 250px;
}

.slider {
  position: relative;
  width: 70%;
  max-width: 600px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;

  margin: 0 auto; /* 中央維持 */

  /* 影を付けて立体感を出す */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* スライドショー */
.s1 {
  animation: slide 9s infinite;
}
.s2 {
  animation: slide 9s infinite 3s;
}
.s3 {
  animation: slide 9s infinite 6s;
}

/* フレーム管理 */
@keyframes slide {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* 各section */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;

  display: flex;
  flex-direction: column; /* これ入れないとh2とcategoryが横並びになる */
  justify-content: center;
}

h2 {
  font-family: "Doki", sans-serif;
  font-size: 50px;
  font-weight: lighter;
  color: rgb(127, 186, 245);

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  margin-top: 0;
  margin-bottom: 15px;
}

/* category */
.category {
  background-image: url(../picture/background/categoryes/category_back.png);
  background-size: contain;
  background-position: center;
}

.cate_flexbox {
  display: grid;
  grid-template-columns: repeat(
    2,
    135px
  ); /* 1つのitemが135px固定になっている */

  gap: 10px;

  justify-content: center;

  margin-bottom: 30px;
}

.cate_items {
  text-align: center;
  flex-direction: column; /* 縦並び */
  align-items: center; /* 横中央 */
  justify-content: center; /* 縦中央 */

  /* カードっぽく */
  background: #ffe6e6;
  border-radius: 15px;
  padding: 10px;

  /* 影を付けて立体感を出す */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}

.cate_items img {
  width: 80px;
  height: auto;
  object-fit: contain; /* 画像の比率を固定 */
  display: block;

  margin: 0 auto; /* 初期設定の余白を消す */
}

.cate_items p {
  font-family: "Doki", sans-serif;
  font-size: 20px;
  color: red;
  margin: 1px 0 0;
}

.favorite {
  background-image: url(../picture/background/categoryes/favorite_back.png);
  background-size: contain;
  background-position: center;

  margin: 0 auto;
}

.favorite_items {
  display: flex;
  justify-content: center;
  gap: 10px;

  height: auto;
  margin-bottom: 24px;
}

.favo_items {
  width: 150px;

  padding: 0 10px;

  border-radius: 20px;
  background-color: #ffe6e6;

  /* 影を付けて立体感を出す */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);

  /* 浮く動き */
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.favo_items:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(255, 182, 193, 0.4);
}

.favo_items p {
  margin: 5px 0;
}

.favo_items img {
  width: 90%;
  height: auto;

  display: flex;
  margin: 0 auto;
}

.favo_items_name,
.favo_price {
  text-align: center;
}

.rankall {
  font-family: "Doki", sans-serif;
  text-align: center;

  font-weight: 700;
}

.rankall.favo_rank1 {
  color: #cea906;
}

.rankall.favo_rank2 {
  color: #979488;
}

.rankall.favo_rank3 {
  color: #8c4916;
}

/* new */
.new {
  background-image: url(../picture/background/categoryes/new_back.png);
  background-size: contain;
  background-position: center;
}

.new_items {
  display: flex;
  gap: 10px;

  margin-bottom: 24px;
}

.new_card {
  width: 30%; /* 3枚並べるので3等分 */
  max-width: 200px;

  text-align: center;
  background: #ffe6e6;
  border-radius: 15px;
  padding: 8px;

  /* 影を付けて立体感を出す */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);

  /* 浮く動き */
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.new_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(255, 182, 193, 0.4);
}

.new_card p {
  margin: 5px 0;
}

.new_card img {
  width: 70%;
  height: auto;
}

/* special */
.special {
  background-image: url(../picture/background/categoryes/special_back.png);
  background-size: contain;
  background-position: center;
}

.special_items {
  position: relative;

  width: 300px;
  margin: 0 auto 20px;

  text-align: center;
  border-radius: 20px;
  padding: 10px;
  background-color: #ffe6e6;

  /* 影を付けて立体感を出す */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);

  /* 浮く動き */
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.special_items img {
  width: 50%;
  height: auto;
}

.special_items:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(255, 182, 193, 0.4);
}

.special_items p {
  font-family: "Doki", sans-serif;
  font-size: 30px;
  color: rgb(253, 100, 217);
  margin: 5px 0;
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;

  background: gold;
  color: black;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
}

/* notice */
.notice {
  background-image: url(../picture/background/categoryes/notice_back.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.notice_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;

  padding: 0;
  margin: 0 auto 20px; /* 上　左右　下 */

  width: 100%;
  max-width: 400px;
  height: auto;
}

.notice_list li {
  display: flex;
  align-items: center;
  gap: 15px;

  font-size: 12px;

  text-decoration: none; /* 元の下線部を削除 */

  position: relative;
}

.notice_list li::after {
  content: "";
  position: absolute;
  left: 116px; /* 日付の幅分は下線部部分をずらして、開始位置とする */
  width: 60%; /* 下線部の長さ調整(右へ) */
  bottom: 0;

  border-bottom: 2px dashed rgb(44, 44, 44);
}

.notice_list a {
  margin-bottom: 2px;
  text-decoration: none;
  border: none;
}

.date {
  min-width: 100px;
  text-align: right;
}

/* レスポンシブ対応 */

/* 横幅が769px以上(PC) */
@media (min-width: 769px) {
  /* All */
  h2 {
    font-size: 100px;
    font-weight: 500;

    margin-bottom: 10px;
  }

  .container {
    padding: 20px 0;
  }

  /* menu */
  .menu ul {
    gap: 40px;
  }

  .menu ul li {
    font-size: 100%;
  }

  .menu ul li a {
    font-size: 20px;
  }

  /* hero */
  .hero {
    height: 400px;
  }

  .slider {
    width: 100%;
    height: 300px;
  }

  /* category */
  .cate_flexbox {
    gap: 80px;
    grid-template-columns: repeat(
      2,
      200px
    ); /*  2列にして、各itemが200px固定になっている */
  }

  .cate_items {
    width: 100%;
    height: 200px;

    display: flex;
  }

  .cate_items img {
    width: 75%;
  }

  .cate_items p {
    font-size: 40px;
  }

  /* favorite */
  .favorite_items {
    gap: 30px;
  }
  .favo_items {
    padding: 0 30px;
  }

  /* new */
  .new_items {
    justify-content: center;
    gap: 30px;
  }

  /* special */
  /* 特になし */

  /* notice */
  .notice_list {
    height: 150px;
  }

  .notice_list li {
    width: 550px;
    height: 150px;

    gap: 10px;

    font-size: 18px;
  }

  .notice_list li::after {
    left: 110px;
  }
}
